.date-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .date-input {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  